{% extends "ProyectoWebApp/base.html" %} 

{% load static %}

{% block content %}
    {% for servicio in posts %}

      {% if forloop.first %}<div class="row">{% endif %}

      <div class="col-4">

        <div class="card">
          <img class="card-img-top" height="180" src="{{servicio.imagen.url }}" alt="{{servicio.titulo}}">
          <div class="card-body">
            <h5 class="card-title">{{servicio.titulo}}</h5>
            <hr/>
            <h6 class="card-text">Autor: {{servicio.autor.username}}</h6>
            <p class="card-text">Categoria: {{servicio.categoria.nombre}}</p>
          </div>

        </div>

      </div>

      {% if forloop.counter|divisibleby:3 %}</div><div class="row">{% endif %}
      {% if forloop.last %}</div>{% endif %}


    {% endfor %}

    {% include "paginacion.html" %}
    
{% endblock %}
